<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Door</title>
</head>
<body>
    <h1>Add Door</h1>
    <form action="/add_door" method="post">
        <label for="Door_id" name="Door_id">Door ID:</label>
        <input type="integer" id="Door_id" name="Door_id" required><br><br>
        <label for="group_cn">Group CN:</label>
        <select id="group_cn" name="group_cn" required>
            {% for group in existing_groups %}
            <option value="{{ group }}">{{ group }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <h1>Force LDAP Synchronization</h1>
    <form action="/sync">
        <input type="submit" value="Sync LDAP">
    </form>
</body>
</html>
